@import '../../stylesheets/all.scss';


.callbutton {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 0 13px;
  margin-top: 19px;

  &__center {
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__icon {
    border-radius: 50%;
    color: white;
    font-size: 35px;

    &:hover {
      cursor: pointer;
    }
    
    &__accept {
      padding: 11px;
      background: #20b2bb;
    }

    &__disabled__acc {
      padding: 11px;
      background: #d3d3d3;

      &:hover {
        cursor: default;
      }
    }

    &__disabled__dec {
      padding: 9px;
      background: #d3d3d3;
    }

    &__decline {
      padding: 9px;
      background: #d6002b;
    }
  }

  &__text {
    @extend .typography;
    padding-top: 3px;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;

    &__accept {
      color: #20b2bb;
    }

    &__disabled {
      color: #d3d3d3;
    }

    &__decline {
      color: #d6002b;
    }
  }
}