@import '../../stylesheets/all.scss';

.center {
  align-items: center;
}

.vcenter {
  justify-content: center;
}

.profile {
  padding-top: 12px;
  width: 100%;
  padding-left: 21px;
  display: flex;
  justify-content: flex-start;

  &__info {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 9px;
    @extend .typography;

    &__name {
      font-size: 14px;
      color: $baseBlue;
      font-weight: 500;
    }

    &__email {
      font-size: 12px;
      color: $baseBlue;
      font-weight: 500;
    }

    &__tags {
      margin-top: 7px;
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 11px;
      font-weight: 100;
      &__title {
        color: #999;
        font-size: 12px;
        &__dark {
          color: #35708b;
        }
      }
      &__single {
        background: #999;
        color: white;
        padding: 2px;
        margin: 1px 2px;
        border-radius: 3px;
        &__dark {
          background: #35708b;
        }
      }
    }
  }
}
