@import '../../stylesheets/all.scss';

.picture {
  display: flex;
  flex-direction: column;
  align-items: center;

  & span {
    @extend .typography;
    margin-top: 3px;
    font-size: 9px;
    color: #787878;
  }

  &__img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: solid 1px #888;
  }
}