
$paddingMd: 10px;

$paddingSm: 5px;

$marginMd: 10px;

$halfHeight: 50%;

$selectArrowWidth: 8px;
$selectArrowHeight: 11px;

$selectArrowPart1Angle: 55deg;
$selectArrowPart2Angle: 125deg;

$selectArrowPosition1: calc(100% - #{$marginMd} - #{$selectArrowWidth}) $halfHeight;
$selectArrowPosition2: calc(100% - #{$marginMd}) $halfHeight;

$selectArrowSize: $selectArrowWidth $selectArrowHeight;

$selectDefaultPadding: $paddingSm $paddingMd;

@function arrow-part($angle, $color1, $color2) {
 @return linear-gradient($angle, $color1 50%, $color2 50%);
}

.select-default {
  position: relative;

  .label {
    padding: $paddingSm $paddingMd;

    border: none;
    box-shadow: none;
    background-image:
      arrow-part($selectArrowPart1Angle, transparent, #313131),
      arrow-part($selectArrowPart2Angle, #313131, transparent);
    background-position: $selectArrowPosition1, $selectArrowPosition2;
    background-size: $selectArrowSize;
    background-repeat: no-repeat;
    color: #999;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
  }
  &.open .label {
    background-image:
      arrow-part($selectArrowPart1Angle, #313131, transparent),
      arrow-part($selectArrowPart2Angle, transparent, #313131);
    background-position: $selectArrowPosition2, $selectArrowPosition1;
    background-size: $selectArrowSize;
    background-repeat: no-repeat;
  }
  .options {
    background-color: #FFF;
    left: 0;
    max-height: 300px;
    margin: $marginMd 0 0 0;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    -webkit-overflow-scrolling: touch;
    width: calc(100% - 2px);
    z-index: 5000;

    li {

      cursor: pointer;
      border-bottom: 2px solid rgba($color: #787878, $alpha: .3);
      padding: $paddingSm $paddingMd;

      &:hover {
        color: #fff;
        background-color: red;
      }
      &:last-child {
        border-bottom: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}