@import '../../stylesheets/all.scss';

.content {
  height: $content-height;

  @include desktop {
    width: 100%;
  }
}

.wrapper {
  @include desktop {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}