@import '../../stylesheets/all.scss';

.calling_lottie {
  height: 90% !important;
}

.callingperson {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__profile {
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      & span {
        margin-top: 3px;
        @extend .typography;
        font-size: 9px;
        color: #787878;
      }
    }

    &__animation {
      margin-bottom: 10px;
      position: relative;


      & span {
        position: absolute;
        top: 48px;
        left: 24px;
        @extend .typography;
        font-size: 9px;
        color: #2e6580;
        font-weight: bold;  
      }
    }
  }
  
  &__img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: solid 1px #333;
  }
}


.calling {

  &__button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}